div {
  outline: 1px solid red; }

body {
  background-image: url("../img/wall.jpg");
  background-attachment: fixed; }

.wrapper {
  width: 48em;
  margin: 0 auto;
  color: grey;
  font-size: 1.02em; }

.header .logo {
  width: 20%;
  margin: 0 auto; }
  .header .logo img {
    max-width: 100%; }

.description {
  color: papayawhip; }
  .description .title {
    font-size: 1.4em;
    text-align: center; }
  .description .intro {
    padding: 1em;
    text-align: center; }
  .description .intro a {
    color: antiquewhite;
    padding: 5px; }

.line {
  width: 10px;
  margin: 75px auto;
  position: relative;
  background: #ffffff; }
  .line .top, .line .bottom {
    position: absolute;
    left: -16px;
    z-index: 2;
    width: 43px;
    height: 88px;
    background: yellowgreen; }
  .line .top {
    top: -72px;
    background: url("../img/sprite.png") no-repeat 0 0 transparent; }
  .line .bottom {
    background: url("../img/sprite.png") no-repeat scroll -46px 0 transparent;
    bottom: 30;
    clear: both; }
  .line .word {
    overflow: hidden;
    margin-top: 2em;
    margin-left: -23.75em;
    width: 48em; }
    .line .word .block {
      float: right;
      width: 46%;
      padding: 0 0 0 2em;
      margin-right: -2em;
      margin-bottom: -2em;
      position: relative;
      border-radius: 3px;
      background-color: wheat; }
      .line .word .block .item {
        max-height: 0;
        transition: 0.75s all ease; }
      .line .word .block .item.open {
        max-height: 15em; }
      .line .word .block .arrow-e,
      .line .word .block .arrow-w {
        /*
* In Internet Explorer, The"border-style: dashed" will never be
* rendered unless "(width * 5) >= border-width" is true.
* Since "width" is set to "0", the "dashed-border" remains
* invisible to the user, which renders the border just like how
* "border-color: transparent" renders.
*/
        border-style: dashed;
        border-color: transparent;
        border-width: 0.53em;
        display: -moz-inline-box;
        display: inline-block;
        /* Use font-size to control the size of the arrow. */
        font-size: 12px;
        height: 0;
        line-height: 0;
        position: relative;
        vertical-align: middle;
        width: 0; }
      .line .word .block .arrow-e {
        border-right-width: 1em;
        border-right-style: solid;
        border-right-color: wheat;
        right: 4.2em;
        top: 0.75em; }
    .line .word:nth-child(even) .block {
      float: left;
      background-color: wheat;
      padding: 0 0.1em 0 0;
      text-align: right; }
      .line .word:nth-child(even) .block .arrow-w {
        border-left-width: 1em;
        border-left-style: solid;
        border-left-color: wheat;
        left: 1.65em;
        top: 0.75em; }
    .line .word h2.title {
      font-size: 1.0em;
      color: gray;
      left: -1em;
      position: relative;
      top: -2em; }
    .line .word .item {
      font-size: 1.15714em;
      color: darkgrey;
      position: relative;
      top: -1.7em; }
